$basefont: var(--font-outfit);

$baseclr: #227DF2;
$white: white;
$black: black;
$grey: #E8E7F1;
$headerbg: #CBDFFF;
$secondaryclr: #1D3252;
$textclrlight: #A7B6CE;
$whiteFE: #FEFEFF;
$black1D3252: #1D3252;
$black384B68: #384B68;
$green: #16A34A;
$lightblue: #AFD0FA;
$whiteF3: #F3F8FF;
