@use "../../../../public/assets/theme/_var.scss" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($headerbg, 0.6);
    backdrop-filter: blur(3.4rem);
    padding: 2.65rem 0;
    z-index: 100;

    @media(max-width: 1199px) {
        padding: 1.5rem 0;
    }

    @media(max-width: 479px) {
        padding: 1rem 0;
    }

    .header_in {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            max-width: 33.1rem;

            @media(max-width: 1399px) {
                max-width: 20rem;
            }

            @media(max-width: 767px) {
                max-width: 16rem;
            }
            @media(max-width: 575px) {
                max-width: 14rem;
            }
        }

        .header_nav {
            margin-left: auto;

            ul {
                display: flex;
                align-items: center;

                li {
                    margin-right: 5.9rem;

                    @media (max-width:1199px) {
                        margin-right: 3rem;
                    }

                    a,
                    .dropdown-toggle {
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                        color: $secondaryclr;
                        transition: 300ms ease-in-out;

                        &.active,
                        &:hover {
                            color: $baseclr;
                        }
                    }

                    .dropdown-toggle {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        display: flex;
                        align-items: center;

                        &:focus {
                            background-color: transparent;
                            box-shadow: none;
                        }

                        &::after {
                            border: none;
                            background-image: url('data:image/svg+xml,<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1.5L7.5 7.5L1 1.5" stroke="%231D3252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                            width: 1.3rem;
                            margin-left: 0.8rem;
                            height: 0.6rem;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: 300ms ease-in-out;
                        }

                        &:hover {
                            &::after {
                                background-image: url('data:image/svg+xml,<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1.5L7.5 7.5L1 1.5" stroke="%23227DF2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                            }
                        }

                        &[aria-expanded="true"] {
                            &::after {
                                rotate: 180deg;
                            }
                        }
                    }

                    .dropdown-menu {
                        background-color: $white;
                        border-radius: 2rem;
                        padding: 2.4rem 2.2rem;
                        width: 17.3rem !important;
                        border: none;
                        margin-top: 1rem;
                        margin-left: -1.5rem;

                        a {
                            display: block;
                            font-size: 1.8rem;
                            white-space: nowrap;
                            font-weight: 400;
                            line-height: 1.2rem;

                            &:not(:last-child) {
                                margin-bottom: 3rem;
                            }
                        }
                    }
                }
            }

            @media(max-width: 991px) {
                position: fixed;
                width: 100%;
                max-width: 26rem;
                height: 100vh;
                padding: 2rem;
                top: 0;
                left: 0;
                background-color: $headerbg;
                backdrop-filter: blur(3.4rem);
                transform: translateX(-100%);
                transition: 300ms ease-in-out;
                z-index: 11;
                display: block;
                margin-left: 0;
                border-right: 0.1rem solid $baseclr;

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 2rem;

                    li {
                        padding-left: 0;

                        &:not(last-child) {
                            margin-bottom: 2.5rem;
                        }
                    }
                }

                &.active {
                    transform: translateX(0);
                }
            }
        }

        .header_action {
            display: flex;
            align-items: center;

            >button {
                margin-left: 2.1rem;

                @media (max-width:1199px) {
                    margin-left: 1rem;
                }
            }

            .action_btn {
                width: 13.9rem;
                height: 5.2rem;
                font-weight: 500;
                padding: 0;
                font-size: 1.8rem;
                line-height: 2.2rem;
                background-color: $white;
                border: none;
                outline: none;
                color: $baseclr;
                transition: 300ms ease-in-out;
                border-radius: 5rem;

                @media (max-width:1199px) {
                    width: 10rem;
                    height: 4.2rem;
                    font-size: 1.6rem;
                }
                @media (max-width:575px) {
                    width: 8rem;
                    height: 3rem;
                    font-size: 1.6rem;
                }

                &:hover {
                    background-color: $baseclr;
                    color: $white;
                }
            }

            .toggle_btn {
                background: none;
                border: 0;
                cursor: pointer;

                span {
                    display: block;
                    background: $baseclr;
                    width: 3rem;
                    height: 0.3rem;
                    border-radius: 4rem;
                    transform-origin: left;
                    transition: all 0.3s ease-in-out;

                    &:not(:last-child) {
                        margin-bottom: 0.72rem;
                    }
                }

                &.active {
                    span {
                        &:first-child {
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:last-child {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        .backdrop {
            position: fixed;
            z-index: 2;
            top: 0;
            pointer-events: none;
            left: 0;
            opacity: 0.6;
            visibility: hidden;
            width: 100%;
            height: 100vh;
            padding: 1.2rem 0;
            transition: 300ms ease-in-out;
            background-color: $black;
            // backdrop-filter: blur(3px);

            &.active {
                // opacity: 1;
                pointer-events: all;
                visibility: visible;
            }
        }
    }
}