@use "../../../../../public/assets/theme/_var.scss" as *;

.banner {
    background: $lightblue;

    .row {
        margin: 0;

        >div {
            padding: 0;
        }
    }

    &-left {
        height: 100%;
        margin: 0 auto;
        max-width: 72.9rem;
        width: 100%;
        padding-top: 12rem;

        &-text {

            h1 {
                text-align: left;
                font-size: 10rem;
                font-weight: 700;
                color: $black1D3252;

                span {
                    color: $baseclr;
                }
            }

            p {
                color: $black1D3252;
                font-size: 4rem;
                font-weight: 400;
            }

            h6 {
                color: $black1D3252;
                font-size: 1.8rem;
                padding-right: 6rem;
                padding-top: 3rem;
            }
        }

        .trust {
            padding-top: 5rem;
        }

        .common_btn {
            margin-top: 6rem;
        }
    }
}