@use "../../../../../public/assets/theme/_var.scss" as *;

.banner {
    background: $lightblue;

    .container-fluid {
        padding-inline: 0 !important;
    }

    .row {
        margin: 0;

        >div {
            padding: 0;
        }
    }

    &-left {
        height: 100%;
        margin: 0 auto;
        max-width: 89rem;
        width: 100%;
        padding: 22.5rem 0 15rem 11.4rem;

        @media(max-width: 1679px) {
            padding: 19rem 0 10rem 17.3rem;
        }

        @media(max-width: 1439px) {
            padding: 19rem 3.5rem 7rem 6.8rem;
        }

        @media(max-width: 1199px) {
            padding: 12rem 3.5rem 7rem 3.5rem;
        }

        @media(max-width: 991px) {
            padding: 8rem 2.5rem 7rem 2.5rem;
        }

        &-text {

            h1 {
                text-align: left;
                font-size: 10rem;
                font-weight: 700;
                color: $secondaryclr;

                @media(max-width: 1679px) {
                    font-size: 8rem;
                }

                @media(max-width: 1439px) {
                    font-size: 6rem;
                }

                @media(max-width: 991px) {
                    font-size: 5rem;
                }

                @media(max-width: 575px) {
                    font-size: 3rem;
                }

                span {
                    color: $baseclr;
                }
            }

            p {
                color: $secondaryclr;
                font-size: 4rem;
                font-weight: 400;

                @media(max-width: 1679px) {
                    font-size: 3rem;
                }

                @media(max-width: 1199px) {
                    font-size: 2rem;
                }

                @media(max-width: 575px) {
                    font-size: 1.6rem;
                }
            }

            h6 {
                color: $secondaryclr;
                font-size: 1.8rem;
                padding-right: 6rem;
                padding-top: 3rem;

                @media(max-width: 1199px) {
                    padding-top: 1rem;
                    font-size: 1.6rem;
                }

                @media(max-width: 767px) {
                    font-size: 1.4rem;
                }
            }
        }

        .trust {
            padding-top: 5rem;

            @media(max-width: 1679px) {
                padding-top: 3rem;
            }

            img {
                @media(max-width: 1679px) {
                    width: 80%;
                }
            }
        }

        .common_btn {
            margin-top: 6rem;
        }
    }

    &-right {
        height: 100%;

        @media(max-width: 991px) {
            display: none;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}