@use "../../../../../public/assets/theme/_var.scss" as *;

.value {
    background-color: $secondaryclr;

    &_content {
        // display: flex;
        justify-content: center;
        align-items: center;
        padding: 8.3rem 16rem;

        @media(max-width: 1679px) {
            padding: 6rem 12rem;
        }

        @media(max-width: 991px) {
            padding: 3rem 12rem;
        }

        &_inner {
            margin-bottom: 2rem;
            text-align: left;

            @media(max-widdth: 991px) {}

            &_text {
                display: flex;
                justify-content: center;
                align-items: center;

                @media(max-width: 991px) {
                    justify-content: flex-start;
                }

                span {
                    margin-right: 1rem;

                    svg {
                        width: 4.2rem;
                        height: 4.2rem;

                        @media(max-width: 1679px) {
                            width: 3.2rem;
                            height: 3.2rem;
                        }
                    }
                }

                p {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 300;

                    @media(max-width: 1679px) {
                        font-size: 1.6rem;
                    }

                    @media(max-width: 1199px) {
                        font-size: 1.4rem;
                    }
                }

            }
        }

        h2 {
            font-size: 9rem;
            font-weight: 600;
            color: $white;
            text-align: center;

            @media(max-width: 1679px) {
                font-size: 7rem;
            }

            @media(max-width: 1199px) {
                font-size: 5rem;
            }

            @media(max-width: 991px) {
                font-size: 3rem;
            }

            span {
                font-weight: 100;
                font-size: 6rem;

                @media(max-width: 991px) {
                    font-size: 4rem;
                }

                @media(max-width: 767px) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}