@use "../../../../../public/assets/theme/_var.scss" as *;

.value {
    background-color: $black1D3252;

    &_content {
        display: flex;
        align-items: center;
        padding: 8.3rem 16rem;

        &_inner {
            max-width: 52rem;
            width: 100%;

            &_text {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-right: 1rem;

                    svg {
                        width: 4.2rem;
                        height: 4.2rem;
                    }
                }

                p {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 300;
                }

            }
        }

        h2 {
            font-size: 9rem;
            font-weight: 600;
            color: $white;
            text-align: center;
        }
    }
}