@use '../../../../../public/assets/theme/_var.scss' as *;

.blog_page {
    position: relative;
    z-index: 1;

    >img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
}