@use "../../../../../../public/assets/theme/_var.scss" as *;

.explore-card {
    border: 1px solid $grey;
    border-radius: 2rem;
    height: 100%;

    &-image {
        position: relative;

        img {
            border-radius: 2rem 2rem 0 0;
            height: 168px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        .headtoken_icon {
            position: absolute;
            bottom: -2rem;
            left: 2rem;

            img {
                border: 2px solid $white;
                width: 3.8rem;
                height: 3.8rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    &-content {
        padding: 2rem 2rem 1.6rem;

        @media(max-width: 1679px) {
            padding: 1.4rem;
        }

        &-text {
            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    background: #16A34A1A;
                    color: $green;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding: 0.7rem 1rem;
                    border-radius: 1rem;
                }

                h3 {
                    font-size: 1.6rem;

                    @media(max-width: 1679px) {
                        font-size: 1.4rem;
                    }
                }
            }

            p {
                color: $black384B68;
                font-size: 1.2rem;
            }
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 1.2rem;
            padding-top: 1rem;

            span {
                background: #3E95D11A;
                padding: 0.7rem 1.6rem;
                border-radius: 1rem;
                font-size: 1.2rem;
                color: $baseclr;
                font-weight: 500;
            }
        }

        ul {

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1.8rem;

                div {
                    p {
                        font-size: 1.2rem;
                        color: $black384B68;
                        padding-top: 0.6rem;
                    }

                    h3 {
                        color: $black384B68;
                        font-weight: 600;
                        font-size: 1.6rem;
                    }

                    &:last-child {
                        text-align: end;
                    }
                }
            }
        }

        button {
            margin-top: 2rem;
            padding-inline: 2rem;
            border: none;
            font-size: 1.8rem;
            font-weight: 500;
            background-color: $baseclr;
            border-radius: 1.2rem;
            width: 100%;
            color: $white;
            padding: 1.1rem;

            @media(max-width: 1199px) {
                padding: 0.7rem;
                font-size: 1.6rem;
            }
        }
    }
}