@use "../../../../../public/assets/theme/_var.scss" as *;

.roi_design {
    background: url("../../../../../public/assets/images/roi-bg.png") center/cover no-repeat;

    .design_in {
        padding: 17.25rem 0;
        display: flex;
        justify-content: center;

        @media (max-width:1679px) {
            padding: 10rem 0;
        }

        @media (max-width:575px) {
            padding: 3rem 0;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            font-weight: 800;
            font-size: 30rem;
            line-height: 21.3rem;
            border-right: 0.2rem solid $white;
            padding-right: 6rem;
            color: $white;
            margin-right: 6rem;

            @media (max-width:1679px) {
                font-size: 18rem;
                line-height: 16rem;
            }

            @media (max-width:1499px) {
                margin-right: 3rem;
                padding-right: 3rem;
            }

            @media (max-width:991px) {
                font-size: 12rem;
            }

            @media (max-width:575px) {
                font-size: 8rem;
                line-height: 10rem;
                border: 0;
                padding: 0;
                margin: 0;
            }

            span {
                color: $baseclr;
                font-weight: 250;
            }
        }

        >div {
            display: flex;
            flex-direction: column;
        }

        h3 {
            font-weight: 300;
            font-size: 7rem;
            line-height: 5rem;
            color: $white;
            margin-bottom: auto;

            @media (max-width:1499px) {
                font-size: 4rem;
            }

            @media (max-width:991px) {
                font-size: 2.4rem;
                line-height: 3rem;
            }

            span {
                color: $baseclr;
                font-weight: 700;
            }
        }

        .common_btn {
            background-color: $secondaryclr;
            border-color: $whiteF3;
            @media (max-width:575px) {
                margin-top: 2rem;
            }
            p {
                background-color: $secondaryclr;
                color: $white;
                left: calc(100% - 0.2rem);
            }
        }
    }
}