@use "../../../../../public/assets/theme/_var.scss" as *;

.explore {
    padding: 10rem 0;

    @media(max-width: 1679px) {
        padding: 7rem 0;
    }

    @media(max-width: 1199px) {
        padding: 5rem 0;
    }

    .common_heading {
        color: $baseclr;
    }

    .slick {
        &-slide {
            // max-width: 37.3rem;
            // width: 100%;
            padding: 0 1.5rem;
            height: auto;
            >div {
                height: 100%;
                >div {
                    height: 100%;
                }
            }
        }

        &-list {
            margin: 0 -1.5rem;

            .slick-track {
                display: flex;
            }
        }
    }

}